.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background: rgb(52, 212, 204);
}

.item {
    background: rgb(36, 155, 149);
    color: black;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background-color: lightyellow;
    padding: 10px;
    background: rgb(72, 175, 222);
}

.item2 {
    background: tomato;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}